.header{
  text-align: center;
  font-size: 3rem;
  border-color: black;
  border-bottom-style: solid;
}
.board{
  padding: 5rem 10rem 5rem 10rem ;
}

.board-box{
  width: 4rem;
  height: 4rem;
  border-color: black;
  border-style: solid;
}