.header{
  text-align: center;
  font-size: 3rem;
  border-color: black;
  border-bottom-style: solid;
}
.main{
  padding-left: 10rem;
}
.board-box{
  width: 4rem;
  height: 4rem;
  border-color: black;
  border-style: solid;
}